.productView {
  height: '77vh';
  width: '90%';
  margin-left: 'auto';
  margin-right: 'auto';
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexVertCenter {
  display: flex;
  align-items: center;
}
.productTitle {
  height: '10vh';
  font-size: '1.6rem';
}
productDescriptionContainer {
  margin-bottom: '2rem'
}
.productDescription {
  line-height: '2.5rem';
  font-size: '1.3rem';
  font-family: 'Caveat';
}
.productImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: 'column';
};
.reviewContainer {
  display: flex;
  flex-direction: column;
};
.reviewTitle{
  font-size: 1.6rem;
  margin-right: 3rem;
};
.addReviewButton{
  font-size: '1.6rem'
};
.reviewDetails {
  display: flex;
  flex-direction: column;
};
.modalContainer {
  height: '100%';
  width: '100%';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}
.formTitle {
  padding-bottom: '2rem',
}

.formSubmitButton { margin-top: '2rem' }
